<form class="contacto-form">
    <mat-form-field class="contacto-full-width">
        <!--TODO revisar los labels-->
        <mat-label>Nombre</mat-label>
        <input matInput>
    </mat-form-field>

    <mat-form-field class="contacto-full-width">
        <mat-label>Email</mat-label>
        <input type="email" required>
    </mat-form-field>

    <mat-form-field class="contacto-full-width">
        <mat-label>Email</mat-label>
        <input type="tel" required>
    </mat-form-field>
  
    <mat-form-field class="contacto-full-width">
        <mat-label>Mensaje</mat-label>
        <textarea matInput placeholder="Mensaje"></textarea>
    </mat-form-field>
  </form>