<h2>Contacto</h2>

<div class="container_reserva">
    <form class="contacto-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="nombre">Nombre </label>
            <br>
            <input type="text" id="nombre" formControlName="nombre" required>
        </div>
    
        <div>
            <label for="email">Email </label>
            <br>
            <input type="email" id="email" formControlName="email" required>
        </div>
    
        <div>
            <label for="mensaje">Mensaje </label>
        <br>
            <textarea placeholder="Escriba su mensaje..." id="mensaje" formControlName="mensaje">
            </textarea>
        </div>
    
        <div>
            <!--Al hacer click se enviara al form-->
            <button type="submit">Enviar</button>
        </div>
    
    </form>
</div>    