.contacto-form, h2 {
  text-align: center;
  }

  form > div {
    margin-bottom: 20px;
  }


  .contacto-form label {
    margin-bottom: 0;
  }

.container_reserva{
  display: flex;
  justify-content: center;
  align-items: center;
}