<div class="container_reserva">
    <form>
        <div class="element_form">
            <label for="fecha">Fecha </label>
            <br>
            <input type="date" id="fecha" formControlName="Fecha" required>
        </div>
       
        <div class="element_form">
            <label for="hora">Hora </label>
            <br>
            <input type="time" id="hora" formControlName="Hora" required>
        </div>
        
        <div class="element_form">
            <label for="personas">Personas </label>
            <br>
            <input placeholder="1" type="number" id="personas" formControlName="Personas" max="10" required>
        </div>
        
        <div class="element_form">
            <label for="notas">Notas </label>
            <br>
            <input placeholder="Notas" type="text" id="notas" formControlName="Notas" required>
        </div>
        <div class="element_form">
            <button type="submit">Enviar</button>
        </div>
    </form>
</div>
