<h2 class="reserva_titulo">Reserva</h2>
<div class="container_reserva">
    <!--Form con nombre y submit-->
  <form [formGroup]="form" (ngSubmit)="doReserva()">
    <div class="element_form">
      <label for="fecha">Fecha </label>
      <br>
      <input type="date" id="fecha" formControlName="fecha" [min]="minDate" [max]="maxDate" required>
    </div>

    <div class="element_form">
      <label for="hora">Hora </label>
      <br>
      <input type="time" id="hora" formControlName="hora" required>
    </div>

    <div class="element_form">
      <label for="personas">Personas </label>
      <br>
      <input placeholder="1" type="number" id="personas" formControlName="personas" required>
    </div>

    <div class="element_form">
      <label for="notas">Notas </label>
      <br>
      <input placeholder="Notas" type="text" id="notas" formControlName="notas">
    </div>

    <div class="element_form">
        <!--Al hacer click se enviara al form-->
      <button id="submit" type="submit">Enviar</button>
    </div>
  </form>
</div>
