.container_reserva{
    display: flex;
    justify-content: center;
    align-items: center;
}

.element_form{
    padding: 5px;
}

label{
    font-size: 20px;
}

.reserva_titulo {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}