<div class="header">
  <h1>Sushi Land</h1> 
  <video id="video" src="../assets/sushi.mp4" autoplay loop [muted]="'muted'"></video>
  <nav>
      <button routerLink="platos">PLATOS</button> <span>RESERVA</span> <span>CONTACTOS</span>
  </nav>
</div>
<router-outlet></router-outlet>
<section class="alta_cocina">
  <div style="display: flex; justify-content: space-between;">
    <span class="text-1">Alta</span>
    <!--<img class="sushi_img_1" src="../assets/sushi_1.jpg">-->
    <span class="text-2">Cocina</span> 
  </div>
</section>