<div class="header">
  <h1>Sushi Land</h1> 
  <video id="video" src="../assets/sushi.mp4" autoplay loop [muted]="'muted'"></video>
  <nav>
     <button routerLink="/">INICIO</button> <button routerLink="platos">PLATOS</button> <button routerLink="reserva">RESERVA</button> <button>CONTACTOS</button>
  </nav>
</div>

<!--<app-platos></app-platos>-->
<section class="alta_cocina">
  <div style="display: flex; justify-content: space-between;">
    <span class="text-1">Alta</span>
    <!--<img class="sushi_img_1" src="../assets/sushi_1.jpg">-->
    <span class="text-2">Cocina</span> 
  </div>
</section>
<router-outlet></router-outlet>
