/* You can add global styles to this file, and also import other style files */
header{
    background-color: black;
    width: 100%;
    margin: 0;
    padding: 0;
    color: white;
    
}

header > i{
    align-items: center;
    text-align: center;
    margin: 0 auto;
}
