                         
                         
                      
                       <mat-tab-group>
                            <mat-tab label="Entrante" >
                               
                                <div class="sushis" *ngFor="let item of arr_platos">
                                    <ng-container *ngIf="1 == 1">
                                    <mat-card class="sushi" *ngIf="item.getTipo == 'entrante'">
                                        <mat-card-content>
                                            <p >{{item.getNombre}}</p>
                                    <p>{{item.getDescripcion}}</p>
                                    <img src={{item.getImg}}>
                                    <p>Alergenos: {{item.getAlergenos}}</p>
                                    <p>{{item.getPrecio | currency: 'EUR'}}</p>
                                        </mat-card-content>
                                      </mat-card>
                                    </ng-container>
                            </div>
                        </mat-tab>

                        <mat-tab  label="Maki" >
                            <div class="sushis" *ngFor="let item of arr_platos">
                                <mat-card class="sushi" *ngIf="item.getTipo == 'maki'">
                                    <mat-card-content>
                                        <p >{{item.getNombre}}</p>
                                <p>{{item.getDescripcion}}</p>
                                <img src={{item.getImg}}>
                                <p>Alergenos: {{item.getAlergenos}}</p>
                                <p>{{item.getPrecio | currency: 'EUR'}}</p>
                                    </mat-card-content>
                                  </mat-card>
                        </div>
                    </mat-tab>

                    <mat-tab  label="Temaki" >
                        <div class="sushis" *ngFor="let item of arr_platos">
                            <mat-card class="sushi" *ngIf="item.getTipo == 'temaki'">
                                <mat-card-content>
                                <p >{{item.getNombre}}</p>
                                <p>{{item.getDescripcion}}</p>
                                <img src={{item.getImg}}>
                                <p>Alergenos: {{item.getAlergenos}}</p>
                                <p>{{item.getPrecio | currency: 'EUR'}}</p>
                            </mat-card-content>
                        </mat-card>
                    </div>
                </mat-tab>

                <mat-tab  label="Nigiri" >
                    <div class="sushis" *ngFor="let item of arr_platos">
                    <mat-card class="sushi" *ngIf="item.getTipo == 'nigiri'">
                            <mat-card-content>
                            <p >{{item.getNombre}}</p>
                            <p>{{item.getDescripcion}}</p>
                            <img src={{item.getImg}}>
                            <p>Alergenos: {{item.getAlergenos}}</p>
                            <p>{{item.getPrecio | currency: 'EUR'}}</p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </mat-tab>
                          </mat-tab-group>
                         

                            <!--DEPRECATED | WITH ANGULAR MATERIAL THIS LOGIC IS IRRELEVANT-->
                         <!--Que cambie dependiendo del tipo de plato que sea-->
                            <!--Si es entrante que utilize esta clase y viceversa-->
                            <!--
<div class="sushis" *ngFor="let item of arr_platos" [ngSwitch]="item.getTipo">
                                                         
    <div class="sushi" *ngIf="item.getTipo == 'entrante'" >
        <h2>Entrantes</h2>
        <hr>
        <div class="sushi-card" [ngClass]="'entrante'">
            <p >{{item.getNombre}}</p>
            <p>{{item.getDescripcion}}</p>
            <img src={{item.getImg}}>
            <p>Alergenos: {{item.getAlergenos}}</p>
            <p>{{item.getPrecio | currency: 'EUR'}}</p>
        </div>
    </div>


    <div class="sushi" *ngIf="item.getTipo == 'maki'" >
        <h2 *ngIf="title_makis">{{title_makis}}</h2>
        <hr>
        <div class="sushi-card" [ngClass]="'maki'">
            <p>{{item.getNombre}}</p>
            <p>{{item.getDescripcion}}</p>
            <img src={{item.getImg}}>
            <p>Alergenos: {{item.getAlergenos}}</p>
            <p>{{item.getPrecio | currency: 'EUR'}}</p>
        </div>
    </div>

    <div *ngIf="item.getTipo == 'temaki'" >
        <h2>TEMAKI</h2>
        <hr>
        <div class="sushi-card" [ngClass]="'temaki'">
            <p>{{item.getNombre}}</p>
            <p>{{item.getDescripcion}}</p>
            <p>Alergenos: {{item.getAlergenos}}</p>
            <p>{{item.getPrecio | currency: 'EUR'}}</p>
        </div>
    </div>
  

    <div *ngIf="item.getTipo == 'nigiri'">
        <h2>NIGIRI</h2>
        <hr>
        <div class="sushi-card">
            <p>{{item.getNombre}}</p>
            <p>{{item.getDescripcion}}</p>
            <p>Alergenos: {{item.getAlergenos}}</p>
            <p>{{item.getPrecio}}€</p>
        </div>
    </div>
</div> -->
