                                                    <!--Que cambie dependiendo del tipo de plato que sea-->
<div class="sushis" *ngFor="let item of arr_platos" [ngSwitch]="item.getTipo">
                                                            <!--Si es entrante que utilize esta clase y viceversa-->
    <div class="sushi" *ngIf="item.getTipo == 'entrante'" >
        <h2>Entrantes</h2>
        <hr>
        <div class="sushi-card" [ngClass]="'entrante'">
            <p >{{item.getNombre}}</p>
            <p>{{item.getDescripcion}}</p>
            <img src={{item.getImg}}>
            <p>Alergenos: {{item.getAlergenos}}</p>
            <p>{{item.getPrecio}}€</p>
        </div>
    </div>


    <div class="sushi" *ngIf="item.getTipo == 'maki'" >
        <h2 *ngIf="title_makis">{{title_makis}}</h2>
        <hr>
        <div class="sushi-card" [ngClass]="'maki'">
            <p>{{item.getNombre}}</p>
            <p>{{item.getDescripcion}}</p>
            <img src={{item.getImg}}>
            <p>Alergenos: {{item.getAlergenos}}</p>
            <p>{{item.getPrecio}}€</p>
        </div>
    </div>

    <div *ngIf="item.getTipo == 'temaki'" >
        <h2>TEMAKI</h2>
        <hr>
        <div class="sushi-card" [ngClass]="'temaki'">
            <p>{{item.getNombre}}</p>
            <p>{{item.getDescripcion}}</p>
            <p>Alergenos: {{item.getAlergenos}}</p>
            <p>{{item.getPrecio}}€</p>
        </div>
    </div>
  

    <div *ngIf="item.getTipo == 'nigiri'">
        <h2>NIGIRI</h2>
        <hr>
        <div class="sushi-card">
            <p>{{item.getNombre}}</p>
            <p>{{item.getDescripcion}}</p>
            <p>Alergenos: {{item.getAlergenos}}</p>
            <p>{{item.getPrecio}}€</p>
        </div>
    </div>
</div>
